"*":
  "atom-beautify":
    _analyticsUserId: "a56e83e5-bceb-4f65-aa32-d9bd128b54ff"
    css_indent_size: 4
    general:
      _analyticsUserId: "7ea229ec-ecf1-4f90-9a42-f34a3c75e767"
    html_indent_size: 4
  core:
    disabledPackages: [
      "wrap-guide"
      "split-diff"
      "pretty-json"
      "minimap-codeglance"
    ]
    openEmptyEditorOnStart: false
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "duotone-dark-space-syntax"
    ]
    titleBar: "hidden"
  editor:
    backUpBeforeSaving: true
    fontFamily: "Operator Mono"
    fontSize: 15
    invisibles:
      eol: " "
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
  "exception-reporting":
    userId: "ecc3f0ff-4ba2-d994-922a-449430d5a6d4"
  linter: {}
  metrics:
    userId: "c801d224d9c30722dbaaeed1e393ed49e778f0dd"
  minimap:
    plugins:
      codeglance: true
      codeglanceDecorationsZIndex: 0
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      "minimap-hide": true
      "minimap-hideDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
  "minimap-codeglance":
    codeHighlighting: false
    decorations: false
    numberOfLines: 10
    softWrap: "always"
  "one-dark-ui": {}
  "one-vibrancy":
    effect: "ultra-dark"
  "spell-check": {}
  "tool-bar":
    position: "Left"
  "tree-view": {}
  welcome:
    showOnStartup: false
