# Your keymap
#
# Atom keymaps work similarly to stylesheets. Just as stylesheets use selectors
# to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# '.editor':
#   'enter': 'editor:newline'
#
# '.workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
# You can find more information about keymaps in these guides:
# * https://atom.io/docs/latest/customizing-atom#customizing-key-bindings
# * https://atom.io/docs/latest/advanced/keymaps
#
# If you run into problems with keybindings, the Keybinding Resolver is a huge help. It can be opened
# with the Cmd+. key combination. It will show you what keys Atom saw you press and what command Atom
# executed because of that combination. Or do a google search with `github keymap.cson "full-screen"`

'body':
  'cmd-alt-ctrl-shift-f': 'window:toggle-full-screen'

'atom-workspace':
  'cmd-alt-ctrl-shift-t': 'night-day-theming:toggle'
